{% extends "frame/base_site.html" %}

{% block title %} Event {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <link href="/static/vendors/pnotify/dist/pnotify.css" rel="stylesheet">
  <link href="/static/vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
  <link href="/static/vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
              <h2><i class="fa fa-bars"></i> Event Information </h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form id="add_event" action="/add_event/" method="get" data-parsley-validate class="form-horizontal form-label-left">
                  {% csrf_token %}
                  {% if message %}
                    <div class="alert alert-warning">{{ message }}</div>
                {% endif %}
                  <input type="text" name="group_id" value="{{group.id}}" hidden>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Event Name<span class="required">*</span>                     
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" id="event_name" name="event_name" required="required" value="{{event.name}}" class="form-control col-md-7 col-xs-12">
                    </div>
                  </div>
  
                  <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">Group Name</label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" name="group_name" disabled="disabled" value="{{group.name}}" class="form-control col-md-7 col-xs-12">
                      </div>
                    </div>
    
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">Start Time <span class="required">*</span> </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <fieldset>
                            <div class="control-group">
                              <div class="controls">
                                <div class="input-prepend input-group">
                                  <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                  <input type="text" id="start" name="start" required="required"  class="form-control" value="2020-04-20 20:00:00" />
                                </div>
                              </div>
                            </div>
                          </fieldset>
                      </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">End Time <span class="required">*</span> </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <fieldset>
                                <div class="control-group">
                                  <div class="controls">
                                    <div class="input-prepend input-group">
                                      <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                      <input type="text" id="end" name="end" required="required"  class="form-control" value="2020-04-20 22:00:00" />
                                    </div>
                                  </div>
                                </div>
                              </fieldset>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="group_title">Movie</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="event_movie" name="event_movie" hidden>
                            <div class="selection">
                                <select data-toggle="dropdown" class="btn btn-default dropdown-toggle" id="movie_list"> 
                                  <option>TBD</option>
                                {% for movie in all_movie %}
                                  <option value={{movie.m_id}}>{{movie.name}}</option>
                                {% endfor %}
                                </select>
                              </div>
                        </div>
                    </div>
    
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="group_title">Voting Event</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <div class="checkbox">
                            <input type="checkbox" class="flat" name="hasvoting" id="hasvoting" onclick="votingon();">
                          </div>
                        </div>
                    </div>

                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="group_title">Selected Movies</label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        {% for movie in all_movie %}
                        <label class="control-label">{{movie.name}}</label>
                        <input class="voting_list; flat" type="checkbox" id="selected_movies" name="selected_movies" value="{{movie.m_id}}"/>
                        {% endfor %}
                      </div>
                  </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                      <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <button class="btn btn-primary" type="button" onclick="window.location='/group_info/'">Back</button>
                        <button class="btn btn-primary" id="reset" type="reset">Reset</button>
                        <button class="btn btn-success" id="submit" type="submit" onclick="getmovie();">Submit</button>
                      </div>
                    </div>
    
                  </form>
            </div>
          </div>

          <div class="x_panel">
            <div class="x_title">
              <h2><i class="fa fa-bars"></i> Voting Information </h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
            <form action="/vote/", method="get"  data-parsley-validate class="form-horizontal form-label-left">
                {% csrf_token %}               
              <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action" id="voting_table" hidden>
                          <thead>
                            <tr class="headings">
                              <th class="column-title">Movie ID</th>
                              <th class="column-title">Moive Name</th>
                              <th class="column-title">Votes</th>
                              <th class="column-title">Action </th>
                            </tr>
                          </thead>
                          <input name="voting_id" id="voting_id" value="{{voting.id}}" hidden>   
                          <input name="voting_movie" id="voting_movie" hidden>          
                          <tbody> 
                            {% for vote in votes.all %}
                            <tr class="">
                              <td class="">{{vote.movie.m_id}}</td>
                              <td class="">{{vote.movie.name}}</td>
                              <td class="">{{vote.count}}</td>                  
                              <td class="">
                                <button class="btn, btn-success", type="submit"
                                onclick="document.getElementById('voting_movie').value='{{vote.movie.m_id}}';">Vote</button>
                              </td>  
                            </tr>
                            {% endfor %}
                          </tbody>              
                        </table>
              </div>
            </form> 
            </div>
          </div>
        </div>   
      </div>

    <div class="clearfix"></div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <script>
    function votingon()
    {
      voting_list= document.getElementsByClassName("voting_list");
      if(document.getElementById("hasvoting").checked== true)
      {        
        for(var i= 0; i< voting_list.length; i++)
          voting_list[i].disabled=false;
        document.getElementById('movie_list').selectedIndex= 0;
      }
      else
      {
        for(var i= 0; i< voting_list.length; i++)
          voting_list[i].disabled=true;
      }
    }
    function getmovie()
    {
      var choice=document.getElementById("movie_list");
      var index=choice.selectedIndex ; 
      document.getElementById("event_movie").value=choice.options[index].value;
    }
    function existedevent() 
    {
      if('{{event.id}}'!="")
      {
        document.getElementById("start").value= '{{event.start}}'; 
        document.getElementById("end").value= '{{event.end}}';
        document.getElementById("movie_list").value= '{{event.movie.m_id}}'; 
    
        document.getElementById("event_name").disabled=true; 
        document.getElementById("start").disabled=true; 
        document.getElementById("end").disabled=true; 
        document.getElementById("movie_list").disabled=true;
        document.getElementById("hasvoting").disabled=true;
        document.getElementById("submit").disabled=true;
        document.getElementById("reset").disabled=true;

        if('{{voting.id}}'!="")
          document.getElementById("voting_table").hidden=false;
      }   
    }
    function hasvoted(status) 
    {
      if(status=='True')
      {
        var buttons= document.getElementsByClassName("btn, btn-success");
        for(i=0;i< buttons.length; i++)
        {
          buttons[i].disabled= "disabled";
          buttons[i].style= "background-color:gray;"; 
        }  
      }      
    }

    window.onload= existedevent();hasvoted('{{status}}')
    </script>
{% endblock javascripts %}