{% extends "frame/base_site.html" %}

{% block title %} Group {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <link href="/static/vendors/pnotify/dist/pnotify.css" rel="stylesheet">
  <link href="/static/vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
  <link href="/static/vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Group {{membership.group.name}}</h3>
        </div>
        <div class="btn-group">
            <form action="/group_info/", method="get">
                {% csrf_token %}
            <input name="group_id", id="group_id" hidden>  
            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button"> Select Group <span class="caret"></span> </button>
            <ul class="dropdown-menu">
            {% for member in group_list %}
              <li><button class="btn btn-default dropdown-toggle" type="submit",
                onclick="document.getElementById('group_id').value = '{{member.group.id}}';">{{member.group.name}}</button></li>
              {% endfor %}
            </ul>
            </form>
          </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
              <h2><i class="fa fa-bars"></i> Members </h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                      <thead>
                        <tr class="headings">
                          <th class="column-title">ID</th>
                          <th class="column-title">Name </th>
                          <th class="column-title">Joined Time</th>
                          <th class="column-title">Title</th>
                          <th class="column-title">Action </th>
                        </tr>
                      </thead>
                      <form action="/group_info/", method="get">
                        {% csrf_token %}
                        <input name="user_id" id="user_id" hidden>  
                        <input name="group_id" id="group_id" value="{{membership.group.id}}" hidden>  
                      <tbody>
                        {% for user in user_list %}
                        <tr class="">
                          <td class="">{{user.member.id}}</td>
                          <td class="">{{user.member.name}}</td>
                          <td class="">{{user.date_joined}}</td>
                          <td class="">{{user.title}}</td>                         
                          <td class="">
                            <button class="btn, btn-danger", type="submit", disabled="true",
                            onclick="document.getElementById('user_id').value ='{{user.member.id}}';">Remove</button>
                          </td>  
                        </tr>         
                        {% endfor %}
                      </tbody>          
                      </form>      
                    </table>
                  </div>
            </div>
          </div>
        </div>   
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
              <h2><i class="fa fa-bars"></i> Events </h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <form action="/event_info/", method="get">
                <input name="group_id1", id="group_id1", value="{{membership.group.id}}" hidden>    
                <input name="event_id" id="event_id" hidden>    
                {% csrf_token %}
                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                      <thead>
                        <tr class="headings">
                          <th class="column-title">Event Name</th>
                          <th class="column-title">Group</th>
                          <th class="column-title">Start Time</th>
                          <th class="column-title">End Time</th>
                          <th class="column-title">Movie</th>
                          <th class="column-title">Voting</th>
                          <th class="column-title">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for event in membership.group.event_set.all %}
                        <tr class="">
                          <td class="">{{event.name}}</td>
                          <td class="">{{event.group.name}}</td>
                          <td class="">{{event.start}}</td>  
                          <td class="">{{event.end}}</td>
                          <td class="">{{event.movie.name}}</td>
                          <td class=""></td>                           
                          <td class="">
                            <button class="btn, btn-success", type="submit",
                            onclick="document.getElementById('event_id').value = '{{event.id}}';">View</button>
                          </td>  
                        </tr>       
                        {% endfor %}
                      </tbody>                              
                    </table>
                    <button class="btn btn-primary" type="submit" id="new_event" disabled="true",
                    onclick="document.getElementById('event_id').value =null;">New Event</button> 
                </div>
                    
              </form>          
              </div>
          </div>
        </div>   
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
              <h2><i class="fa fa-bars"></i> Voting Events </h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                      <thead>
                        <tr class="headings">
                          <th class="column-title">Event ID</th>
                          <th class="column-title">Event Name</th>
                          <th class="column-title">Start Time</th>
                          <th class="column-title">End Time</th>
                          <th class="column-title">Action </th>
                        </tr>
                      </thead>
                      <form action="/voting/", method="get">
                        {% csrf_token %}
                        <input name="voting_id" id="voting_id" hidden>   
                        <input name="group_id", value="{{group.id}}" hidden>           
                      <tbody>
                        {% for voting in membership.group.voting_set.all %}
                        <tr class="">
                          <td class="">{{voting.event.id}}</td>
                          <td class="">{{voting.event.name}}</td>
                          <td class="">{{voting.event.start}}</td>
                          <td class="">{{voting.event.end}}</td>                     
                          <td class="">
                            <button class="btn, btn-success", type="submit",
                            onclick="document.getElementById('voting_id').value = '{{voting.id}}';">View</button>
                          </td>  
                        </tr>
                        {% endfor %}
                      </tbody>          
                      </form>      
                    </table>
                </div>
            </div>
          </div>
        </div>   
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
              <h2><i class="fa fa-bars"></i> Movies </h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="table-responsive">
                  <table class="table table-striped jambo_table bulk_action">
                    <thead>
                      <tr class="headings">
                        <th class="column-title">ID</th>
                        <th class="column-title">Name</th>
                        <th class="column-title">Director</th>
                        <th class="column-title">Year</th>
                        <th class="column-title">Duration</th>
                        <th class="column-title">Ratingg</th>
                        <th class="column-title">Action</th>
                      </tr>
                    </thead>
                    <form action="/view_movie/", method="get">
                      {% csrf_token %}
                      <input name="m_id" id="m_id" hidden>   
                    <tbody>
                      {% for movie in movie_list %}
                      <tr class="">
                        <td class="">{{movie.m_id}}</td>
                        <td class="">{{movie.name}}</td>
                        <td class="">{{movie.director}}</td>
                        <td class="">{{movie.year}}</td>  
                        <td class="">{{movie.duration}}</td>
                        <td class="">{{movie.rating}}</td>                    
                        <td class="">
                          <button class="btn, btn-success", type="submit",
                          onclick="document.getElementById('m_id').value = '{{movie.m_id}}';">View</button>
                        </td>  
                      </tr>       
                      {% endfor %}
                    </tbody> 
                    </form>                             
                  </table>
                </div>
            </div>
          </div>
        </div>   
      </div>
      
    <div class="clearfix"></div>
  </div>

  <script>
    function access(title) {
      if(title === "Moderator")
      {
        document.getElementById("new_event").disabled=false;
        remove_list= document.getElementsByClassName("btn, btn-danger");
        for(var i= 0; i< remove_list.length; i++)
          remove_list[i].disabled=false;
      }     
    }
    window.onload= access('{{membership.title}}')
    </script>
{% endblock content %}
