{% extends "frame/base_site.html" %}

{% block title %} Voting {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <link href="/static/vendors/pnotify/dist/pnotify.css" rel="stylesheet">
  <link href="/static/vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
  <link href="/static/vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
              <h2><i class="fa fa-bars"></i> Voting Information </h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
            <form action="/vote/", method="get"  data-parsley-validate class="form-horizontal form-label-left">
                {% csrf_token %}               
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Event Name</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" name="event_name" value="{{voting.event.name}}" disabled="disabled" class="form-control col-md-7 col-xs-12">
                    </div>
                  </div>
  
                  <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">Group Name</label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" name="group_name" disabled="disabled" value="{{voting.event.group.name}}" class="form-control col-md-7 col-xs-12">
                      </div>
                    </div>
    
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">Start Time</label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <fieldset>
                            <div class="control-group">
                              <div class="controls">
                                <div class="input-prepend input-group">
                                  <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                  <input type="text" name="start" disabled="disabled" class="form-control" value="{{voting.event.start}}" />
                                </div>
                              </div>
                            </div>
                          </fieldset>
                      </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">End Time</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <fieldset>
                                <div class="control-group">
                                  <div class="controls">
                                    <div class="input-prepend input-group">
                                      <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                      <input type="text" name="end" disabled="disabled" class="form-control" value="{{voting.event.start}}" />
                                    </div>
                                  </div>
                                </div>
                              </fieldset>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Status</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" name="status"  id="status" disabled="disabled" value="{{status}}" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>

                <div class="x_content">
                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action">
                          <thead>
                            <tr class="headings">
                              <th class="column-title">Movie ID</th>
                              <th class="column-title">Moive Name</th>
                              <th class="column-title">Votes</th>
                              <th class="column-title">Action </th>
                            </tr>
                          </thead>
                          <input name="voting_id" id="voting_id" value="{{voting.id}}" hidden>   
                          <input name="movie_id" id="movie_id" hidden>          
                          <tbody> 
                            {% for vote in votes.all %}
                            <tr class="">
                              <td class="">{{vote.movie.m_id}}</td>
                              <td class="">{{vote.movie.name}}</td>
                              <td class="">{{vote.count}}</td>                  
                              <td class="">
                                <button class="btn, btn-success", type="submit"
                                onclick="document.getElementById('movie_id').value='{{vote.movie.m_id}}';">Vote</button>
                              </td>  
                            </tr>
                            {% endfor %}
                          </tbody>              
                        </table>
                    </div>
                </div>

                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                    <button class="btn btn-primary" type="button" id="back" onclick="window.location='/group_info/'">Back</button>
                    </div>
                </div>       
            </form> 
            </div>
          </div>
        </div>   
      </div>

    <div class="clearfix"></div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <script>
    function hasvoted(status) {
      if(status=='True')
      {
        var buttons= document.getElementsByClassName("btn, btn-success");
        for(i=0;i< buttons.length; i++)
        {
          buttons[i].disabled= "disabled";
          buttons[i].style= "background-color:gray;"; 
        }  
      }      
    }
    window.onload= hasvoted('{{status}}')
  </script>
{% endblock javascripts %}